<h1>All Trips</h1>
<hr>
<% @trips.each do |trip| %>
  <ul>
    <%= trip.name %>
  </ul>
<% end %>

<% if @trips.empty? %>
  <em>There are no trips at this time.</em>
<% end %>

<%= link_to "Create Trip", new_trip_path %>