%h1 Trips
%hr
  %ul
    - @trips.each do |trip|
      %li= link_to trip.name, trip_path(trip)
  - if @trips.empty?
    %em There are no trips at this time.
    %br/
  %br/
  = link_to "Create Trip", new_trip_path
  %br/
  %br/
  = link_to "Home", :root
