<h2>Create a Trip</h2>
<hr>
<%= form_for @trip  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Save Trip!" %>
<% end %>
<br />
<br />
<br />
<h3>Set your Budgets</h3>
<hr>
<!-- Choose A Category  -->
<!-- Dropdown box -->
<!-- Amount -->
<!-- 0.00 box -->

<!-- Cancel button -->
<!-- Save button -->