%h1 Current Trip
%hr
  %h2
    = @trip.name
    Budget
  %br/
  %br/
  = link_to "Back", trips_path
  |
  \#{link_to "Home", :root}
  %br/
  = link_to "Sign Out", destroy_user_session_path, :method => :delete
  %br/
