<h2>Trip Budget</h2>
<hr>
<% unless current_user %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>

<%= link_to "View Trips", trips_path %><br />
<br />
<br />
<%= link_to "Sign Out", destroy_user_session_path %><br />