%h1 Welcome to Trip Budget
%hr
- if user_signed_in?
  = link_to "Create a Trip", new_trip_path
  %br/
  %br/
  = link_to "View Trips", trips_path
  %br/
- else
  %b Please sign in to view your profile

